@use "sass:map";

$font-family: "Helvetica";

$colors: (
  "darkblue5": #091b6f,
  "darkblue4": #0d28a6,
  "darkblue3": #091b6f,
  "darkblue2": #aeb7e1,
  "darkblue1": #cfd4ed,
  "limegreen5": #5cb85f,
  "limegreen4": #5cb85f,
  "limegreen3": #92d094,
  "limegreen2": #c9e7ca,
  "limegreen1": #def1df,
  "yellow1": #f9cc00,
);

$alert: (
  "danger": #fa2c5a,
  "warning": #f9cc00,
  "success": #73ca5c,
);

$background: (
  "white1": #ffffff,
  "white2": #f1f3ff,
);

body {
  font-family: $font-family;
}

p {
  margin: 0;
}

.navbar-collapse {
  justify-content: end !important;
}

.navbar {
  background-color: map.get($background, "white2");

  li {
    margin-right: 10px;
    :last-child {
      color: white;
    }
  }

  .nav-link {
    color: black !important;
  }
}

.fonts {
  &-heading1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
  }

  &-heading2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }

  &-white {
    color: white;
  }
}

.colors {
  &-darkblue5 {
    background-color: map.get($colors, "darkblue5");
  }
  &-darkblue4 {
    background-color: map.get($colors, "darkblue4");
  }
  &-darkblue3 {
    background-color: map.get($colors, "darkblue3");
  }
  &-darkblue2 {
    background-color: map.get($colors, "darkblue2");
  }
  &-darkblue1 {
    background-color: map.get($colors, "darkblue1");
  }
  &-limegreen5 {
    background-color: map.get($colors, "limegreen5");
  }
  &-limegreen4 {
    background-color: map.get($colors, "limegreen4");
  }
  &-limegreen3 {
    background-color: map.get($colors, "limegreen3");
  }
  &-limegreen2 {
    background-color: map.get($colors, "limegreen2");
  }
  &-limegreen1 {
    background-color: map.get($colors, "limegreen1");
  }
}

#hero {
  height: 504px;
  background-color: map.get($background, "white2");
}

.hero {
  &-right {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &-left {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &-shape {
    position: absolute;
    width: 704px;
    height: 243px;
    right: -110px;
    bottom: 0px;
    background: map.get($colors, "darkblue5");
    border-radius: 60px 0px 0px 0px;
    z-index: 0;
    overflow: hidden;
  }

  &-img {
    position: absolute;
    z-index: 1;
    right: -100px;
    bottom: 40px;
    overflow: hidden;
  }
}

#our-service {
  margin: 20px 0px;
  background-color: map.get($background, "white1");
}

.service {
  &-item {
    height: 500px;
    padding: 60px 40px;
  }

  &-img {
    position: absolute;
    width: 374px;
    height: 366px;
    left: 92px;
    top: 0px;
    z-index: 5;
  }

  &-left {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &-right {
    width: 50%;
    height: 100%;

    div ul {
      list-style-type: none;
      padding: 0px;

      li {
        margin-bottom: 10px;
      }
    }
  }

  &-shape-blue {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 99px;
    top: 68px;
    border-radius: 50%;
    background: map.get($colors, "darkblue4");
    background-size: cover;
    background-image: url(/assets/img/service_girl2.png);
  }

  &-shape-green {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 0px;
    top: 1px;
    border-radius: 50%;
    background: map.get($colors, "limegreen3");
  }

  &-shape-yellow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 60px;
    top: 336px;
    border-radius: 50%;
    background: map.get($colors, "yellow1");
  }

  &-shape-red {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 383px;
    top: 43px;
    border-radius: 50%;
    background: map.get($alert, "danger");
  }
}

#whyus {
  margin: 60px 0px;
  background-color: map.get($background, "white1");
}

.card {
  border-radius: 8px !important;
  padding: 16px !important;
}

.banner-body {
  padding: 60px 40px;
  border-radius: 10px;
}

// .carousel-inner {
//   overflow: visible;
//   display: flex;
// }

// .carousel-item {
//   margin: 20px;
//   display: inline-block;
// }

// .carousel-control-prev {
//   background-color: gray;
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   position: absolute;
//   top: 320px;
//   left: 930px;
// }

// .carousel-control-next {
//   background-color: gray;
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   position: absolute;
//   top: 320px;
//   right: 930px;
// }

#testimonial {
  margin: 20px 0px;
}

.testimonial {
  &-carousel {
    overflow: hidden;
    width: 100%;
  }
  &-card {
    padding: 30px;
    width: 619px;
    height: 270px;
    background-color: map.get($background, "white2");
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

    &-avatar {
      width: 60px;
      height: 60px;
    }

    &-star {
      width: 20px;
      height: 20px;
    }
  }
}

.owl-nav {
  display: block !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: solid 1px #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: map.get($background, "white2") !important;
  padding: 2 !important;
  font: inherit;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: map.get($colors, "limegreen4") !important;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto !important;
}

#faq {
  margin: 60px 0px;
  background-color: map.get($background, "white1");
}

.faq {
  &-left {
    width: 50%;
  }
  &-right {
    width: 50%;
  }
}

.accordion {
  &-item {
    border: {
      style: none;
    }
    margin: 20px 0px;
    border-radius: 10px !important;
    border: 2px solid #d4d4d4 !important;
  }

  &-button {
    border-radius: 10px !important;
    border: 0px solid #d4d4d4 !important;
  }
}

.footer {
  &-item {
    padding: 80px 0px;
    a {
      color: black;
      text-decoration: none;
      margin-bottom: 10px;
    }

    img {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  #hero {
    height: 600px;
    background-color: map.get($background, "white2");
  }

  .hero {
    &-right {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-left {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-shape {
      position: absolute;
      width: 504px;
      height: 143px;
      right: -10px;
      bottom: 0px;
      background: map.get($colors, "darkblue5");
      border-radius: 60px 0px 0px 0px;
      z-index: 0;
      overflow: hidden;
    }

    &-img {
      position: absolute;
      z-index: 1;
      width: 500px;
      height: auto;
      right: -10px;
      bottom: 0px;
      overflow: hidden;
    }
  }

  #our-service {
    margin: 20px 0px;
    background-color: map.get($background, "white1");
  }

  .service {
    &-item {
      height: 700px;
      padding: 0px 20px;
    }

    &-img {
      position: absolute;
      width: 250px;
      height: auto;
      left: 99px;
      top: 20px;
      z-index: 5;
    }

    &-left {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-right {
      width: 100%;
      height: 100%;

      div ul {
        list-style-type: none;
        padding: 0px;

        li {
          margin-bottom: 10px;
        }
      }
    }

    &-shape-blue {
      position: absolute;
      width: 250px;
      height: 250px;
      left: 99px;
      top: 68px;
      border-radius: 50%;
      background: map.get($colors, "darkblue4");
      overflow: hidden;
      background-image: url(/assets/img/service_girl2.png);
      background-size: cover;
    }

    &-shape-green {
      position: absolute;
      width: 73px;
      height: 73px;
      left: 40px;
      top: 50px;
      border-radius: 50%;
      background: map.get($colors, "limegreen3");
      overflow: hidden;
    }

    &-shape-yellow {
      position: absolute;
      width: 38px;
      height: 38px;
      left: 70px;
      top: 276px;
      border-radius: 50%;
      background: map.get($colors, "yellow1");
      overflow: hidden;
    }

    &-shape-red {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 323px;
      top: 43px;
      border-radius: 50%;
      background: map.get($alert, "danger");
      overflow: hidden;
    }
  }

  .banner-body {
    border-radius: 0px;
  }

  #faq {
    margin: 30px 0px;
    background-color: map.get($background, "white1");
  }

  .faq {
    &-left {
      width: 100%;
    }
    &-right {
      width: 100%;
    }
  }

  .testimonial {
    &-carousel {
      overflow: hidden;
      width: 100%;
    }
    &-card {
      padding: 30px;
      width: 419px;
      height: 270px;
      background-color: map.get($background, "white2");
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

      &-avatar {
        width: 40px;
        height: 40px;
      }

      &-star {
        width: 15px;
        height: 15px;
      }
    }
  }
}
