@use "sass:map";

$font-family: "Helvetica";

$colors: (
  "darkblue5": #091b6f,
  "darkblue4": #0d28a6,
  "darkblue3": #091b6f,
  "darkblue2": #aeb7e1,
  "darkblue1": #cfd4ed,
  "limegreen5": #5cb85f,
  "limegreen4": #5cb85f,
  "limegreen3": #92d094,
  "limegreen2": #c9e7ca,
  "limegreen1": #def1df,
  "yellow1": #f9cc00,
);

$alert: (
  "danger": #fa2c5a,
  "warning": #f9cc00,
  "success": #73ca5c,
);

$background: (
  "white1": #ffffff,
  "white2": #f1f3ff,
);

body {
  font-family: $font-family;
}

p {
  margin: 0;
}

.navbar-collapse {
  justify-content: end !important;
}

.fonts {
  &-heading1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
  }

  &-heading2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
}

.colors {
  &-darkblue5 {
    background-color: map.get($colors, "darkblue5");
  }
  &-darkblue4 {
    background-color: map.get($colors, "darkblue4");
  }
  &-darkblue3 {
    background-color: map.get($colors, "darkblue3");
  }
  &-darkblue2 {
    background-color: map.get($colors, "darkblue2");
  }
  &-darkblue1 {
    background-color: map.get($colors, "darkblue1");
  }
  &-limegreen5 {
    background-color: map.get($colors, "limegreen5");
  }
  &-limegreen4 {
    background-color: map.get($colors, "limegreen4");
  }
  &-limegreen3 {
    background-color: map.get($colors, "limegreen3");
  }
  &-limegreen2 {
    background-color: map.get($colors, "limegreen2");
  }
  &-limegreen1 {
    background-color: map.get($colors, "limegreen1");
  }
}

#hero {
  height: 504px;
  background-color: map.get($background, "white2");
}

.hero {
  &-right {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &-left {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &-shape {
    position: absolute;
    width: 704px;
    height: 243px;
    right: -110px;
    bottom: 0px;
    background: map.get($colors, "darkblue5");
    border-radius: 60px 0px 0px 0px;
    z-index: 0;
  }

  &-img {
    position: absolute;
    z-index: 1;
    right: -100px;
    bottom: 40px;
  }
}

#our-service {
  margin: 60px 0px;
  background-color: map.get($background, "white1");
}

.service {
  &-item {
    height: 468px;
    padding: 60px 40px;
  }

  &-img {
    position: absolute;
    width: 374px;
    height: 366px;
    left: 99px;
    top: 0px;
    z-index: 5;
  }

  &-left {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &-right {
    width: 50%;
    height: 100%;

    div ul {
      list-style-type: none;
      padding: 0px;

      li {
        margin-bottom: 10px;
      }
    }
  }

  &-shape-blue {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 99px;
    top: 68px;
    border-radius: 50%;
    background: map.get($colors, "darkblue4");
  }

  &-shape-green {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 0px;
    top: 1px;
    border-radius: 50%;
    background: map.get($colors, "limegreen3");
  }

  &-shape-yellow {
    position: absolute;
    width: 133px;
    height: 133px;
    right: 0px;
    top: 1px;
    border-radius: 50%;
    background: map.get($colors, "yellow1");
  }

  &-shape-red {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 383px;
    top: 43px;
    border-radius: 50%;
    background: map.get($alert, "danger");
  }
}

#whyus {
  margin: 60px 0px;
  background-color: map.get($background, "white1");
}

.card {
  border-radius: 8px !important;
  padding: 16px !important;
}

.banner-body {
  padding: 60px 40px;
}

#faq {
  margin: 60px 0px;
  background-color: map.get($background, "white1");
}

.faq {
  &-left {
    width: 50%;
  }
  &-right {
    width: 50%;
  }

  &-collapse {
    margin-top: -15px;
    margin-bottom: 10px;

    > card {
      border-radius: 0px !important;
      border-top: 0px !important;
    }
  }
}

.footer {
  &-item {
    padding: 80px 0px;
    a {
      color: black;
      text-decoration: none;
      margin-bottom: 10px;
    }

    img {
      margin-right: 10px;
    }
  }
}
